<template>
  <form class="form" @submit.prevent="onSubmit">
    <input class="form__input" type="text" v-model="title">
    <br/>
    <button class="form__button" type="submit">Добавить задачу</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      title: ''
    }
  },
  methods: {
    onSubmit() {
      if (this.title.trim()) {
        const newTodo = {
          id: Date.now(),
          title: this.title,
          completed: false
        }
        this.$emit('add-todo', newTodo)
        this.title=""
      }
    }
  }
}
</script>

<style scoped>
.form {
  display: flex;
}

.form__input {
  width: 400px;
}
</style>