<template>
  <li class="list-elem">
    <span class="do" v-bind:class="{done: todo.completed}">
      <input class="do__item" type="checkbox" v-on:change="todo.completed=!todo.completed">
      <strong class="do__num">{{index + 1}}</strong>
      {{todo.title}}
    </span>
    <button class="button"
            v-on:click="$emit('remove-todo', todo.id)"
    >&times;</button>
  </li>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true
    },
    index: Number
  }
}
</script>

<style scoped>
.list-elem {
  boarder: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  margin-bottom: 1rem;
}

.button {
  background: red;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
}

.do__item {
  margin-right: 1rem;
}

.done{
  text-decoration: line-through;
}
</style>