<template>
  <div id="app">
    <h1>Todo</h1>
    <div class="menu">
      <a href="/">Все</a>
      <a href="/active">Активные</a>
      <a href="/not-active">Не активные</a>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
}

.menu {
  display: flex;
  justify-content: space-between;
}
</style>